
<div class="caixa-lista">
  <ol class="lista-ordenada">
   <li class="itens"><a href="itens-link">Plano Municipal de Enfrentamento à Violência, Abuso e Exploração Sexual contra Crianças e Adolescentes</a></li>

   <li class="itens"><a class="itens-link" href="">2º Plano de Ação em Governo Aberto</a></li>

   <li class="itens"><a class="itens-link" href="">Plano de Assistência Social da Cidade de São Paulo 2018-2021</a></li>

   <li class="itens"><a class="itens-link" href="">1º Plano Municipal de Segurança Alimentar e Nutricional</a></li>

   <li class="itens"><a class="itens-link" href="">Plano Municipal para Erradicação do Trabalho Escravo</a></li>
  </ol>
</div>