<div class="contabout">
  <h2 class="Title-About">Sobre</h2>
 <div class="conteudoSobre">
  <p>Bem-vindo ao SPPlanos, o site dos Planos Setoriais da Prefeitura de São Paulo. Ele é resultado de um esforço conjunto e colaborativo entre a Secretaria Executiva de Planejamento e Entregas Prioritárias (SEPEP) e Secretaria da Fazenda (SF). A iniciativa atende ao Marco 2.2 do 3º Plano de Ação em Governo Aberto, que compreende a criação de uma página de comunicação integrada de todos os planos municipais, incluindo Plano de Ação para Implementação da Agenda Municipal 2030, disponibilizada e periodicamente atualizada.</p>

  <p>Aqui você encontra informações sobre os instrumentos de planejamento elaborados por órgãos municipais com a finalidade de estabelecer diretrizes e orientar inciativas e ações relacionadas a determinada área de política pública. </p>

  <p>Os planos setoriais possuem grande relevância para o planejamento municipal de longo prazo, pois em seu processo de construção é realizado um diagnóstico sobre o problema ou área de atuação, com participação social ampla e qualificada. O resultado são instrumentos técnicos que apresentam direções para o estabelecimento das prioridades municipais.</p>

  <p>No SPPlanos você pode encontrar informações relacionadas a vigência, prazo, órgão responsável e seus sites, macroárea de política pública, além de acesso aos documentos dos planos municipais. </p>

  <p>Você também pode participar do planejamento da Cidade de São Paulo, através de consultas públicas no ParticipeMais e dos canais de comunicação disponíveis no site.</p>

 </div>
</div>