<div class="paginaSobre">
  <div class="contabout">
    <h2 class="Title-About">Sobre o Site Planos Municipais </h2>
   <div class="conteudoSobre">
    <p>O Planos Municipais é um site de comunicação integrada dos planos municipais da Cidade de São Paulo. Ele é o resultado de um esforço conjunto e colaborativo entre Secretaria de Governo Municipal e Secretaria da Fazenda. A sua criação foi idealizada e transformada em compromisso no 3° Plano de Ação em Governo Aberto (2021-2024).</p>
  
    <p>O processo de geração do Site partiu de um levantamento minucioso dos planos do Município. Aqueles então encontrados foram organizados segundo categorias, como encerrados e vigentes, além de classificados através de determinadas referências, como anos de publicação e encerramento, áreas temáticas e Objetivos de Desenvolvimento Sustentável. O propósito é facilitar a identificação e pesquisa dos planos conforme critérios selecionados. </p>
  
    <p>O produto do Site foi concebido através de inúmeros encontros virtuais e presenciais entre a Secretaria Executiva de Entregas Prioritárias (SEPEP/SGM) e a Subsecretaria de Planejamento e Orçamento Municipal (SUPOM/SF), no âmbito do Grupo de Trabalho de Governo Aberto. Além disso, contou com contribuições de representantes de outras secretarias e da Sociedade Civil. </p>
  
   </div>
  </div>
  <div class="contabout">
    <h2 class="Title-About">Planos Municipais: Instrumentos de Planejamento </h2>
   <div class="conteudoplanos">
    <p>Os planos municipais são importantes instrumentos de planejamento estratégico elaborados por órgãos municipais. Os planos possuem finalidades e formatos variados, consolidando-se numa pluralidade de documentos que devem estar integrados e em sinergia. Em seu processo de construção são realizados diagnósticos sobre o problema ou área de atuação, geralmente com participação social ampla e qualificada. O resultado são instrumentos técnicos que apresentam diretrizes para o estabelecimento das prioridades municipais. </p>
  
    <p>No conjunto de planos, conforme sua finalidade, é possível observar, por um lado, os chamados planos setoriais, que estabelecem diretrizes e orientam iniciativas relacionadas a temáticas específicas de interesse público. Nesse grupo, estão instrumentos que dizem respeito a determina área de política pública, como o Plano de Ação Climática do Município de São Paulo e o Plano Municipal de Saúde. Além de planos direcionados a públicos específicos, como o Plano Municipal pela Primeira Infância e o Plano Municipal de Políticas para Imigrantes.</p>
  
    <p>Por outro lado, há aqueles documentos centrais de priorização das ações e metas da Prefeitura, como o Programa de Metas, o Plano Plurianual e a Agenda Municipal 2030. Os planos centrais encerram o desafio de incorporar as orientações dos planos setoriais, contribuindo com a integração e a execução sistemática das ações multidimensionais para o período a que se referem.</p>
  
   </div>
  </div>
  <div class="contabout">
    <h2 class="Title-About">Plano de Ação em Governo Aberto </h2>
   <div class="conteudoPlano">
    <p>O 3º Plano de Ação em Governo Aberto (2021-2024) compreende um conjunto de compromissos assumidos pela Prefeitura Municipal de São Paulo, visando promover o avanço da abertura do governo na Cidade. A realização do Plano passa por três etapas: cocriação, implementação e avaliação. A cocriação é o período de concepção e antecede a implementação, momento em que os compromissos são executados. Finalmente, acontece a etapa de avaliação, na qual as entregas são examinadas e registram-se experiências, desafios e oportunidades para a elaboração do Plano de Ação seguinte.</p>
  
    <p>O Plano possui quatro Compromissos, desdobrados em quatro marcos cada, que devem ser executados pela Prefeitura, em parceria com a sociedade civil, até outubro de 2024. O Site Planos Municipais faz parte do Compromisso 2: fortalecer o engajamento da população para o monitoramento da implementação da Agenda Municipal 2030, através do Marco 2.2, que consiste no desenvolvimento de uma página de comunicação integrada de todos os planos municipais, incluindo Plano de Ação para implementação da Agenda Municipal 2030, disponibilizada e periodicamente atualizada.</p>
  
    <p>O Fórum de Gestão Compartilhada, composto por organizações da Sociedade Civil e órgãos do Poder Público, possui a responsabilidade de planejar e conduzir todo o processo de cocriação do Plano, além de atuar na sua execução e avaliação. A coordenação do 3º Plano de Ação em Governo Aberto acontece na Coordenadoria de Governo Aberto da Secretaria Municipal da Casa Civil.</p>
   </div>
  </div>
</div>