<div id="paginate">
  <div class="list">
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="../assets/images/Agenda Municipal 2030.png" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">Agenda Municipal 2030</h2>
                  <p class="card__snippet">A Agenda 2030 é um compromisso global de desenvolvimento adotado pela ONU em 2015, ao qual o Município de São Paulo aderiu em 2018 por meio da Lei Municipal nº 16.817. Esta lei estabelece a criação da Comissão Municipal para o Desenvolvimento Sustentável (Comissão Municipal ODS) para implementar o Programa Municipal de Implementação da Agenda 2030. A "Agenda Municipal 2030" apresenta objetivos, metas e indicadores propostos pela Comissão Municipal ODS para São Paulo, elaborados entre julho e dezembro de 2020 e aprovados em maio de 2021.</p>
                  <a href="" class="card__button">Veja Mais</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="../assets/images/Logo - 3º Plano de Ação em Governo Aberto.png" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">3º Plano de Ação em Governo Aberto</h2>
                  <p class="card__snippet">O 3º Plano de Ação em Governo Aberto da Cidade de São Paulo é um conjunto de compromissos que reflete o compromisso da Prefeitura Municipal com a transparência, integridade, responsividade e participação da população. Criado em colaboração com representantes do governo e da sociedade civil, especialmente através do Fórum de Gestão Compartilhada, o Plano foi elaborado por meio de consultas públicas, oficinas e reuniões iniciadas em fevereiro de 2021. Ele consiste em quatro compromissos, cada um desdobrado em quatro marcos, a serem implementados pela Prefeitura em parceria com a sociedade civil até outubro de 2024. Estes compromissos e marcos foram oficialmente aprovados pelo Comitê Intersecretarial de Governo Aberto, conforme estabelecido nos decretos municipais nº 54.794/2014 e nº 58.115/2018.</p>
                  <a href="" class="card__button">Veja Mais</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="../assets/images/Logo - Plano Cicloviário do Município de São Paulo.png" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">Plano Cicloviário do Município de São Paulo</h2>
                  <p class="card__snippet">O Plano Cicloviário visa definir a rede cicloviária da cidade e seus elementos de apoio, orientado para a estruturação de um sistema integrado. Visa promover a intermodalidade e a conexão com os principais equipamentos de transportes públicos, garantir a segurança do uso da bicicleta na malha viária da cidade e promover ações que incentivem o uso do modal de modo a expandi-lo e consolidá-lo na estrutura viária.</p>
                  <a href="" class="card__button">Veja Mais</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="../assets/images/Logo - PlanClima.png" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">Plano de Ação Climática de São Paulo</h2>
                  <p class="card__snippet">O PlanClima SP é o instrumento voltado à orientação do planejamento e gestão das políticas setoriais da Administração Municipal Direta e Indireta, visando estimular a redução das emissões de gases de efeito estufa e a adaptação aos impactos da mudança do clima, bem como transformar os atuais modos de produção e de consumo no âmbito do Município de São Paulo.</p>
                  <a href="" class="card__button">Veja Mais</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="../assets/images/Logo - Plano de Ação do Plano Municipal pela Primeira Infância.png" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">Plano de Ação do Plano Municipal pela Primeira Infância</h2>
                  <p class="card__snippet">O Plano Municipal pela Primeira Infância de São Paulo (PMPI), estabelecido em 2018, requer a elaboração de um plano de ação quadrienal alinhado aos seus princípios e diretrizes. O Plano de Ação 2021-2024 foi desenvolvido com a participação de 15 secretarias municipais, baseado nos quatro eixos estratégicos, 31 metas e 135 estratégias do PMPI. Foram definidas diretrizes estratégicas, incluindo a redução das desigualdades, com foco nas questões raciais, e o enfrentamento dos impactos da pandemia de Covid-19, para orientar as iniciativas nos próximos quatro anos.</p>
                  <a href="" class="card__button">Veja Mais</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="https://source.unsplash.com/3THn0EN_Ydo/300x510" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
                  <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
                  <a href="" class="card__button">Read more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="https://source.unsplash.com/3THn0EN_Ydo/300x510" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
                  <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
                  <a href="" class="card__button">Read more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="https://source.unsplash.com/3THn0EN_Ydo/300x510" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
                  <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
                  <a href="" class="card__button">Read more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="https://source.unsplash.com/3THn0EN_Ydo/300x510" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
                  <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
                  <a href="" class="card__button">Read more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="https://source.unsplash.com/3THn0EN_Ydo/300x510" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
                  <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
                  <a href="" class="card__button">Read more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="https://source.unsplash.com/3THn0EN_Ydo/300x510" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
                  <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
                  <a href="" class="card__button">Read more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="https://source.unsplash.com/3THn0EN_Ydo/300x510" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
                  <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
                  <a href="" class="card__button">Read more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card">
              <figure class="card__thumb">
                <img src="https://source.unsplash.com/3THn0EN_Ydo/300x510" alt="Picture by David Monje" class="card__image">
                <figcaption class="card__caption">
                  <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
                  <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
                  <a href="" class="card__button">Read more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
    </div>
    <div class="item">
    </div>
  </div>
  <div class="controls">
      <div class="first"><i class="fa-solid fa-angles-left"></i></div>
      <div class="prev"><i class="fa-solid fa-arrow-left"></i></div>
      <div class="numbers">
          <div>1</div>
      </div>
      <div class="next"><i class="fa-solid fa-arrow-right"></i></div>
      <div class="last"><i class="fa-solid fa-angles-right"></i></div>
  </div>
</div>
<script src="../assets/js/navegacao.js"></script>