<div id="paginate">
  <div class="list">

    {% for plano in site.data.planos %}
        {% if plano.status == "Encerrado" %}

          <a href="/encerrado/{{plano.path}}">
            <div class="item acordeon">
              <div class="marcacao">
                <div class="escopo">
                  <div class="container">
                    <div class="card_fixo">
                      <figure class="card__thumb">
  
                        {% if plano.logo_plano != null  and plano.logo_plano != ""  %}
                            <img src="{{ plano.logo_plano }}" alt="Imagem do Plano" class="card__image">
                            {% else %}
                            <img src="../assets/images/logo_gen.png" alt="Imagem do Plano" class="card__image">
                        {% endif %}
  
  
                        <figcaption class="card__caption">
                          <h2 class="card__title">{{ plano.title }}</h2>
                          <p class="card__snippet">{{ plano.desc }}</p>
                          <a href="" class="card__button">Veja Mais</a>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endif %}
    {% endfor %}
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>

  <div class="controls">	
    <div class="first"><i class="fa-solid fa-angles-left"></i></div>	
    <div class="prev"><i class="fa-solid fa-arrow-left"></i></div>	
    <div class="numbers">	
        <div>1</div>	
    </div>	
    <div class="next"><i class="fa-solid fa-arrow-right"></i></div>	
    <div class="last"><i class="fa-solid fa-angles-right"></i></div>	
  </div>	

</div>

<script src="../assets/js/navegacao.js"></script>	



