<div id="paginate">
  <div class="list">
    {% for plano in site.data.planos %}
    <div class="item acordeon">
      <div class="marcacao">
        <div class="escopo">
          <div class="container">
            <div class="card_fixo">
              <figure class="card__thumb">

                {% for dado in site.data.dados_planos %}
                  {% if dado.nome_do_plano == plano.title %}
                    <img src="{{ dado.logo_plano }}" alt="Imagem do Plano" class="card__image">
                  {% endif %}
                {% endfor %}
                <figcaption class="card__caption">
                  <h2 class="card__title">{{ plano.title }}</h2>
                  <p class="card__snippet">{{ plano.desc }}</p>
                  <a href="" class="card__button">Veja Mais</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>