<footer class="footer outer">
  <div class="inner">
    <div class="align">
      <div class="columns">
        <div class="images">
          <div class="logo-pmunicipais">
            <img class="logo-pmunicipais" src="{{  '/assets/images/logos/logo-planos.png' | relative_url }}" alt="logotipo dos Planos Municipais ">
          </div>
          <div class="pda">
            <img class="pda" src="{{  '/assets/images/logos/logo-pda.png' | relative_url  }}" alt="Logotipo do Plano de ação em governo Aberto da Cidade de São Paulo">
          </div>
          <div class="cga">
            <img class="cga" src="{{  '/assets/images/logos/logo-CGA.png' | relative_url }}" alt="logotipo do Governo Aberto na Cidade de São Paulo ">
          </div>
          <div class="sf">
            <img class="sf" src="{{  '/assets/images/logos/logo-fazenda.png' | relative_url  }}" alt="Logotipo da Secretaria da Fazenda">
          </div>
          <div class="sgm">
            <img class="sgm" src="{{  '/assets/images/logos/logo-sgm.png' | relative_url  }}" alt="Logotipo do Governo da Cidade de São Paulo">
          </div>
        </div>    
      </div>
  
      <div class="footer-bottom">
          <div class="social">
            <div class="information">
              <div class="adress">
                  <ul class="contato">
                    <li class="email">
                      <p>codata@prefeitura.sp.gov.br</p>
                    </li>
                  </ul>
              </div>        
          </div>
      </div>
      <div class="footer2">
        <p class="copyright-text">copyleft <span class="copyleft"></span> 2024,  Prefeitura Municipal de São Paulo Viaduto do Chá, 15 - Centro - CEP: 01002-020</p>
      </div>
    </div>
  </div>
</footer>
