<header class="site-header outer">
  <div class="inner">
    <div class="site-header-small-content">
      <h2 class="site-title">
        <img class="logo-spplanos" src="{{  '/assets/images/logos/logo-planos.png' | relative_url }}" alt="">
        <img class="logo-governo" src="{{  '/assets/images/logos/logo-sgm.png' | relative_url  }}" alt="LOGOTIPO PREFEITURA HORIZONTAL FUNDO ESCURO">
      </h2>
      {% if site.tagline %}
        <h5 class="site-tagline">{{ site.tagline }}</h5>
      {% endif %}
    </div>
    <div class="navigation">
      {% if site.data.navigation %}
        <nav class="nav">
          {% include nav_links.html %}
        </nav>
      {% endif %}
    </div>
  <script src="{{ '/assets/js/navegacao.js'| relative_url }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ '/assets/js/submenu.js'| relative_url}}"></script>
</header>
