{% for item in site.data.navigation %}
  {% if item.dropdown %}
    <div class="dropdown">
      <a class="nav-item dropdown-toggle {% if page.url == item.url %}active{% endif %}" href="#">
        {{ item.title }}
      </a>
      <ul class="sub-menu" style="display: none;">
        {% for subitem in item.dropdown %}
          <li class="menu-item">
            {% if subitem.url contains "http" %}
              <a class="nav-item-sub {% if page.url == subitem.url %}active{% endif %}" href="{{ subitem.url }}" target="_blank">
                {{ subitem.title }}
              </a>
            {% else %}
              <a class="nav-item-sub {% if page.url == subitem.url %}active{% endif %}" href="{{ subitem.url | relative_url }}">
                {{ subitem.title }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    {% if item.url contains "http" %}
      <a class="nav-item {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}" target="_blank">
        {{ item.title }}
      </a>
    {% else %}
      <a class="nav-item {% if page.url == item.url %}active{% endif %}" href="{{ item.url | relative_url }}">
        {{ item.title }}
      </a>
    {% endif %}
  {% endif %}
{% endfor %}
