<div class="news-page">
 <div class="news-page-flex">
   <div class="wrap-flex">
     <div class="item-1 gridywrap">
      <div class="gridy-1 gridyhe-2">
       <div class="gridimg" style="background-image: url(https://ununsplash.imgix.net/photo-1416934625760-d56f5e79f6fe?q=75&fm=jpg&s=032ca37757b3dc1851661856b956a24c)">&nbsp;</div>
       
       <div class="gridinfo">
         <h3>Item Title</h3>
         <div class="gridmeta">
           <p class="gridwhen"><i class="fa fa-clock-o"></i> 17:22 17th Feb 2015</p>
           <p class="gridwho"><i class="fa fa-user"></i> Clark Kent</p>
         </div>
         <p class="gridexerpt">Lorem ipsum dolor set amet, some dummy content..</p>
         <a href="#" class="grid-btn grid-more"><span>More</span> <i class="fa fa-plus"></i></a>
       </div>
     </div>
     <div class="flex">
       <div class="item-2 gridywrap">
         <div class="gridy-2 gridyhe-1 flex-card1">
           <div class="gridimg" style="background-image: url(https://ununsplash.imgix.net/photo-1415302199888-384f752645d0?q=75&fm=jpg&s=823bdcc1b7ad955f5180efd352561016)">&nbsp;</div>
           <div class="gridinfo">
             <h3>Item Title</h3>
             <div class="gridmeta">
               <p class="gridwhen"><i class="fa fa-clock-o"></i> 17:22 17th Feb 2015</p>
               <p class="gridwho"><i class="fa fa-user"></i> Bruce Wayne</p>
             </div>
             <p class="gridexerpt">Lorem ipsum dolor set amet, some dummy content..</p>
             <a href="#" class="grid-btn grid-more"><span>More</span> <i class="fa fa-plus"></i></a>
           </div>
         </div>
       </div>
       <div class="item-3 gridywrap">
         <div class="gridy-2 gridyhe-1 flex-card2">
           <div class="gridimg" style="background-image: url(https://ununsplash.imgix.net/photo-1415302199888-384f752645d0?q=75&fm=jpg&s=823bdcc1b7ad955f5180efd352561016)">&nbsp;</div>
           <div class="gridinfo">
             <h3>Item Title</h3>
             <div class="gridmeta">
               <p class="gridwhen"><i class="fa fa-clock-o"></i> 17:22 17th Feb 2015</p>
               <p class="gridwho"><i class="fa fa-user"></i> Bruce Wayne</p>
             </div>
             <p class="gridexerpt">Lorem ipsum dolor set amet, some dummy content..</p>
             <a href="#" class="grid-btn grid-more"><span>More</span> <i class="fa fa-plus"></i></a>
           </div>
         </div>
       </div>
      </div>
   </div>
 </div>
</div>
