<div class="masonry">
  <div class="flex-1">
    <div class="grid">
      <div class="imagem-espaco">
        <img class="img-00" src="https://source.unsplash.com/1000x1500/?business-work">
      </div>
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">4ª edição do Pop Rua Jud Sampa segue até sexta-feira (17), na Praça da Sé</h1>
          <p class="grid__author">Promovido pela Prefeitura de São Paulo juntamente a mais de 40 entidades e coordenado pelo Tribunal Regional Federal da 3ª Região e pelo Tribunal de Justiça de São Paulo, o mutirão é realizado na Praça da Sé, das 9h às 15h e segue até a próxima sexta-feira, dia 17.</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">15/05/2024</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-2">
    <div class="grid">
      <img class="img-01" src="https://source.unsplash.com/1080x777/?work">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="https://www.capital.sp.gov.br/web/prefeitura-de-sao-paulo/w/estudantes-da-rede-municipal-se-destacam-nos-jogos-escolares-do-estado-de-s%C3%A3o-paulo" ></a>
          <h1 class="grid__title">Estudantes da Rede Municipal se destacam nos Jogos Escolares do Estado de São Paulo</h1>
          <p class="grid__author">As escolas da Rede Municipal de Ensino da capital paulista estão participando dos Jogos Escolares do Estado de São Paulo em diversas modalidades como atletismo e voleibol. As unidades desenvolvem projetos com esporte e estimulam o potencial dos estudantes. A iniciativa está alinhada à educação integral estimulando a prática de atividades físicas, além da oportunidade de desenvolver valores como trabalho em equipe, fair play, diálogo e muito mais. </p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">04/06/2024</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-3">
    <div class="grid">
      <img class="img-02" src="https://participemais.prefeitura.sp.gov.br/assets/home_image_f1-a3b6ea6ac8e7e8362dbd8a30db5e31c4da6b37bb47162bddd560af63ef1ac153.gif">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="https://participemais.prefeitura.sp.gov.br/" ></a>
          <h1 class="grid__title"></h1>
          <p class="grid__author"></p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">Secretaria de Governo Municipal</span>
        </div>
      </div>
    </div>
  </div>
</div>