<div class="conteudoCarousel00">
  <div class="carousel01">
    <div class="centro">
      <div class="embrulho">
        <div class="interna">
          <div class="cartao">
            <img src="{{ '/assets/images/logos/participe-mais.png' | relative_url }}">
            <div class="content">
              <h2><a href="https://participemais.prefeitura.sp.gov.br/">Participe +</a></h2>
            </div>
          </div>
          <div class="cartao">
            <img src="https://www.prefeitura.sp.gov.br/cidade/secretarias/upload/governo/relacoes_institucionais/capas/Capas%20novo%20portal%20(5).png">
            <div class="content">
              <h2><a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/casa_civil/relacoes_institucionais/coordenadoria_de_governo_aberto/index.php/agentes_de_governo_aberto/index.php?p=333043"></a>Agentes de Governo Aberto</h2>
            </div>
          </div>
          <div class="cartao">
            <img src="{{ '/assets/images/img-plans/3º Plano de Ação em Governo Aberto.png' | relative_url }}">
            <div class="content">
              <h2>3º Plano de Ação em Governo Aberto</h2>
            </div>
          </div>
        </div>
      </div>
      
      <div class="map">
        <button class="active first"></button>
        <button class="second"></button>
        <button class="third"></button>
      </div>
    </div>
  </div>
  <div class="carousel02">
    <div class="centro2">
      <div class="embrulho2">
        <div class="interna2">
          <div class="cartao2">
            <img src="https://images.pexels.com/photos/4254995/pexels-photo-4254995.jpeg?auto=compress&cs=tinysrgb&w=600">
            <div class="contentr">
              <h2><a href="https://www.capital.sp.gov.br/noticias">Noticias</a></h2>
            </div>
          </div>
          <div class="cartao2">
            <img src="https://images.pexels.com/photos/1181396/pexels-photo-1181396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <div class="contentr">
              <h2><a href="https://www.capital.sp.gov.br/noticias"></a>Noticias</h2>
            </div>
          </div>
          <div class="cartao2">
            <img src="{{ '/assets/images/img-plans/PPA.png' | relative_url }}">
            <div class="contentr">
              <h2>Conheça o Plano Pluri Anual</h2>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mapa">
        <button class="active first2"></button>
        <button class="second2"></button>
        <button class="third2"></button>
      </div>
    </div>
  </div>
  </div>
</div>


<script src="{{ '/assets/js/carousel.js' | relative_url }}"></script>
