/*
Color Palettes for Designers and Artists
Discover the newest hand-picked palettes of Color Hunt
https://colorhunt.co/
*/

// Coffe Color Palettes
$matte-green:           #607274;
$matte-beige:           #FAEED1;
$matte-beige-dark:      #DED0B6;
$matte-ligth-brown:     #B2A59B;

$ligth-beige:           #FFF2D8;
$ligth-brown:           #EAD7BB;
$litgth-brown-1:        #BCA37F;
$matte-ligth-blue:      #113946;
