.caixa-lista{
 margin: 0;
}

.itens{
 display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    left: 0px;
    margin-right: 32px;
}