/**
 * Some base settings for common tags
 */


body {
  background-color: white;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

figure {
  margin: 0;
}

figcaption {
  font-size: .8em;
}

article img {
  display: block;
  max-width: 100%;
  margin: 1em 0;
  border-radius: var(--border-radius);
}

article img.emoji {
  display: inline-block;
  margin: 0 .2em;
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

blockquote {
  border-left: .2em solid var(--body-color-light);
  padding-left: var(--spacing);
  margin-left: 0;
  margin-right: 0;
  font-style: italic;

  i, em {
    font-style: normal;
  }
}

ul, ol {
  padding-left: calc(2 * var(--spacing));
  margin: var(--spacing) 0;
}

li {
  ul, ol {
    margin: 0;
  }

  > p {
    margin-top: 0;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: var(--spacing) 0;
}

td, th {
  padding: .25em .5em;
  border-bottom: 1px solid var(--body-color-light);
}

thead th {
  border-bottom-color: currentColor;
}

hr {
  border: 0;
  border-top: 1px solid var(--body-color-light);
}

code, pre {
  font-family: var(--code-font);
  font-size: .9em;
}

code {
  padding: .1em .25em;
  background-color: var(--body-fg);
  border-radius: var(--border-radius);
}

pre {
  overflow: auto;
  padding: 1em;
  margin: 1em 0;

  code {
    padding: 0;
    background-color: inherit;
  }
}

.highlight {
  border-radius: var(--border-radius);
  background-color: var(--body-fg);
}

.rouge-table {
  border: 0;
  margin: 0;

  td,
  th {
    border: 0;
    padding: 0;
  }

  pre {
    padding: 0;
    margin: 0;
  }

  .gutter {
    user-select: none;
    opacity: .5;
    padding-right: 1em;
  }
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1em;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  font-size: .8em;
}

#markdown-toc {
  font-size: .8em;
  padding: 2em 3em;
  margin: 2em 0;
  border: solid var(--body-color-light);
  border-width: 1px 0;

  &::before {
    display: block;
    margin-left: -3em;
    content: "TOC";
  }
}

.task-list {
  list-style: none;
  padding-left: 0;

  .task-list-item-checkbox {
    margin-right: .5em;
    height: 1em;
    width: 1em;
    vertical-align: middle;
  }
}

//lista da pagina encerrados
$pri: #128CFC;
$sec: #fffffe;
$dark-pri: #d05c2e;

.bloco-lista-encerrados {
  box-sizing: border-radius;
  font-family: 'Rubik', sans-serif;;
  display: block;
  position: absolute;
  left: 10px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  display: grid;
  place-items: center;
  color: #43766c;
}

.items {
  display: block;
  position: absolute;
  bottom: 75px;
  left: 20px;
  width: 300px;
  background: $sec;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
  border-top: 10px solid $dark-pri;
}

.items-head, .title-list-file {
  padding: 5px 20px;
  margin: 10px;
  color: #d05c2e;
  font-weight: bold;
  font-size: 20px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid $dark-pri;
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  // background-color: lightblue;
  font-size: 13px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  
}

.items-body-content:hover {
  border-radius: 15px;
  border: 1px solid $dark-pri;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  color: $dark-pri;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}