.footer {
  text-align: center;
  color: var(--header-color-dark);
  background-color: $color-primary;
  margin-top: auto;
  padding-top: var(--spacing);
  padding-bottom: calc(var(--spacing) * 2);
}
.align{
  padding: 0 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}

.columns {
  margin-bottom: calc(var(--spacing) * 2);
}

.column {
  margin: var(--spacing) 0;
}


@media screen and (min-width: $screen-laptop) {
  .columns {
    padding: 3rem 0 2rem 0;
  }

  .footnav-item {
    display: block;
    margin-bottom: var(--spacing);
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }

  .social {
    text-align: left;
    margin: 0 3rem 0 3rem;
  }
}
.images{
  display: flex;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: space-evenly;
    align-items: center;
}

.logo-pmunicipais,
.sf,
.sgm{
  background-size: contain;
  background-repeat: no-repeat;
  width: 15rem;
}
.cga{
  width: 17rem;
}

.sf{
  margin-top: 0.5rem;
}

.pda{
  width: 7rem;
}

li{
  list-style-type: none
}

.footer2{
  width: 27rem;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.copyleft::after {
  content: "\00a9";
}