

@media screen and (min-width: $screen-tablet) {
  .page,
  .post {
    padding: 0 var(--spacing);
  }
}

@media screen and (min-width: $screen-laptop) {
  .page,
  .post {
    padding: 0 calc(var(--spacing) * 2);
  }

  .post-meta {
    padding-left: calc(var(--spacing) * 2);
    padding-right: calc(var(--spacing) * 2);
  }

  .post-cover {
    height: 600px;
    margin-bottom: -160px;
  }

  .post-content {
    padding: var(--spacing) calc(var(--spacing) * 2);
  }
}

@media screen and (min-width: $screen-desktop) {
  .page,
  .post {
    padding: 0 calc(var(--spacing) * 4);
  }
}

.title-plan{
  font-weight: bold;
  text-transform: uppercase;
  font-size: -webkit-xxx-large;
  color: #474747;
}

.filt-title-onder{
  display: flex;
  align-items: center;
   justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
}

.onderFilter{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.filter-plan, .onder{
  margin: 1rem;
  padding: 1rem;
}
#filter, #sort{
  border-radius: 2rem;
  width: 15rem;
}

.custom-select {
  position: relative;
  display: inline-block;
  border-radius: 2rem;
  width: 13rem;
  cursor: pointer;
  border: 1px solid #000;
}

.selected-option {
  display: block;
  padding: 10px;

  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    border: solid $color-primary;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transition: transform 0.3s;

    
    transform: rotate(45deg);
  }

  &.open::after {
    transform: translateY(-50%) rotate(135deg); 
  }
}

.options {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  list-style-type: none;
  border-radius: 2rem;
  margin: 7px;
  padding: 1rem;
  width: 11rem;
  border: 1px solid #000;
}

.options li {
  padding: 10px;
}

.options li:hover {
  background-color: #f0f0f0;
}

#filter {
  position: relative;
  display: inline-block;
  border-radius: 2rem;
}

.option {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  border-radius: 2rem;
  margin: 7px;
  padding: 1rem;
  width: 11rem;
}

#filter.active .option {
  display: block;
}

#accordion{
  margin: 0 5rem 2rem 5rem;
}
.accordion-header {
  position: relative;
  cursor: pointer;
  padding-right: 20px; 

  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transition: transform 0.3s;

    
    transform: rotate(45deg);
  }

  &.open::after {
    transform: translateY(-50%) rotate(135deg); 
  }
}

.accordion-item{
  border: 1px solid #000;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
}

.accordion-content {
  display: none;
  &.open {
    display: flex;
  }
  justify-content: space-between;
  align-items: flex-start;
}

.text-content {
  flex: 1;
  margin-right: 20px;
  width: 7rem;
  word-break: break-all;
}

.image-content img {
  max-width: 15rem; 
  height: auto;
}
